[submodule "Underanalyzer"]
	path = Underanalyzer
	url = https://github.com/Genouka/Underanalyzer.git
[submodule "UndertaleModToolLocalization"]
	path = UndertaleModToolLocalization
	url = https://github.com/KD7KN7RN/QiuUTMTv4.git
	branch = new-v5
